/* ---- Specification ---- */

body{
	font-family: 'Museo Sans Cyrl', Arial, sans-serif;
	font-size: 17px;
	font-weight: 100;
	color:#545454;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	color:#000;
	margin:0;
	padding:0;
}
p{
	margin:0;
	padding:0;
}
ul, li{
	display: block;
	margin: 0;
	padding: 0;
}
a, a:hover, a:active{
	text-decoration: none;
}
.row{
	margin: 0;
}

.shadow{
	-webkit-box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.33);
	-moz-box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.33);
	box-shadow: 2px 5px 5px 1px rgba(0,0,0,0.33);
}
.container {
    padding:0;
 }



/* ---- First Screen (Header) ---- */



.main-header{
	background: url(../img/background.jpg) no-repeat center top;
	margin-bottom: 80px;
}
.position{
	position: relative;
	height: 100vh;
}
#header{
	background: rgba(0, 0, 0, 0.25);
	color:#fff;
}
.logo{
	float: left;
    padding-top: 9px;
    height: 77px;
    padding-right: 4px;
}
.logo:hover{
	background: #23aae2;
}
.menu>li{
	float: left;
	padding-top: 28px;
}
.menu__link{
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	line-height: 17px;
	letter-spacing: 0.01em;
	padding: 11px 10px;
	font-weight: 900;
	text-decoration: none;
}
.menu__link:hover, .menu__link:active, .active{
	background: #396376;
	border-radius: 5px;
	text-decoration: none;
	color:#fff;
}

.bars{
	display: none;
	height:26px;
	width:42px;
}
.contacts{
	float: right;
	padding-top: 19px;
    padding-right: 2px;

}
.contacts__icon{
	float: left;
	padding-top: 9px;
    padding-right: 10px;
}
.numbers{
	float: right;
}
.autorization_text{
	font-size: 16px;
	font-weight: 900;
}
#main{
	position: relative;
}
.offer{
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	margin: 0 auto;
    text-align: center;
    font-size: 90px;
    color: #f1f2f2;
    line-height: 1.33em;
    letter-spacing: 0.35em;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.31);
}
.offer__second{
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
    font-size: 51px;
    color: #f1f2f2;
    line-height: 1.33em;
    letter-spacing: 0.1em;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.31);
}
.check{
	margin: 0 auto;
    position: absolute;
    bottom: 5%;
    display: block;
    border-radius: 70px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 30px;
    border-style: dashed;
    width: 45px;
    height: 45px;
    left: 51%;
    margin-left: -45px;
    text-align: center;
}
.scrollto{
	color:#fff;
}
.modal{
	display: none;
}
.box-modal{
	background: #11b2f5;
}
.box-modal .form{
	margin: 0;
}
.box-modal .form__btn{
	color:#fff;
}


/* ---- First Screen (Header) End ---- */



/* ----- Main Page Style ---- */




/* ---- Second Screen ---- */

.plus-title{
	font-size: 41px;
	margin-bottom: 50px;
	text-align: center;
}
.item{
	position: relative;
	background: #f4f4f4;
	padding-bottom: 15px;
	margin-top: 14px;
	min-height: 360px;
	margin-bottom: 95px;
}
.item__main-wrap::after {
    content: '';
    position: absolute;
    display: block;
    background: #c6c6c6;
    width: 40px;
    height: 1px;
    top: 195px;
    left: 44%;
}
.item__main-wrap {
    display: table;
    padding-top: 49px;
    padding-bottom: 13px;
    margin: 0 auto;
}
.item__img-wrap {
	height: 97px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.item__logo{
	display: block;
	margin: 0 auto;
}
.item__title,.item__text{
	text-align: center;
}
.item__title{
	font-size: 20px;
	padding-bottom: 32px;
    letter-spacing: 0.01em;
}
.item__text{
	padding: 0 20px;
	line-height: 22px;
}

/* ---- Second Screen End---- */



/* ---- Thrid Screen (Info) ---- */


#info{
	background: url(../img/background_2.jpg) repeat center top;
	background: #233d53;
	padding-top: 86px;
	padding-bottom: 99px;
	color: #fff;
	text-align: center;
}
.info__title{
	font-size: 42px;
	color: #fff;
	padding-bottom: 23px;
}
.info__text{
	font-size: 17px;
    font-style: italic;
    line-height: 26px;
    margin-bottom: 6px;
}
.info__autor{
	font-size: 16px;
    font-weight: 900;
    margin-bottom: 53px;
    text-transform: uppercase;
}
.suggestion{
	position: relative;
    border: 2px solid #fff;
    border-style: dotted;
    padding: 46px 0 49px 0;
}
.suggestion__text{
	font-size: 19px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 13px;
    margin-bottom: 12px;
}
.suggestion__title{
	font-size: 23px;
	font-weight: 900;
	text-transform: uppercase;
}
.point{	
	position: absolute;
    border-radius: 16px;
    border: 1px solid #fff;
    border-style: dashed;
    font-size: 17px;
    width: 33px;
    background: #233d53;
    height: 33px;
    left: 48%;
}
.point__top{
	top: -17px;
	padding-top: 5px;
}
.point__bottom{
	bottom: -19px;
	padding-top: 5px;
}
.show{
	padding-top: 62px;
}
.show__title{
	font-size: 37px;
	color: #fff;
}
.show__text{
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 0.09em;
    padding-top: 8px;
    padding-bottom: 45px;
}
.show__btn{
	color:#fff;
	border: 2px solid #fff;
}
.btn{
	text-decoration: none;
	border-radius: 5px;
	padding: 17px 22px;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
}
.show__btn:hover{
	background: #fff;
	color: #273f53;
}


/* ---- Thrid Screen (Info) End---- */



/* ---- Forth Screen (Transport) ---- */


#transport{
	padding-top: 100px;
	padding-bottom: 95px;
	text-align: center;
	background: url(../img/back-city.png) no-repeat center bottom;
}
.transport__title{
	font-size: 42px;
	padding-bottom: 148px;
	letter-spacing: 0.016em;
	line-height: 52px;
}
.promo{
	position: relative;
}
.promo__title{
	padding-top: 69px;
    background: #f4f4f4;
    font-size: 19px;
    letter-spacing: 0.001em;
}
.promo__text-top, .promo__text-bottom{
	background: #f4f4f4;
    line-height: 24px;
    font-size: 17px;
}
.promo__text-top{
	padding: 12px 20px 42px 20px;
}
.promo__text-bottom{
	margin-top: 5px;
    margin-bottom: 58px;
    padding: 41px 20px 34px 20px;
}
.img__picture, .img__icon{
	position: absolute;
}
.img__picture{
	top: -23%;
    left: 24%;
    z-index: 1;
}
.img__icon{
	top: 41%;
	left: 44%;

}
.promo__btn{
	color:#23aae2;
	border: 2px solid #23aae2;
}

.promo__btn:hover{
	background: #23aae2;
	color: #fff;
}



/* ---- Forth Screen (Transport) End ---- */




/* ---- Fifth Screen (Comments) ---- */



#comments {
    padding: 90px 0 90px 0;
}

.comment__name {
	font-size: 1.455rem;
	text-transform: uppercase;
	font-weight: 900;
	float: left;
	margin-right: 45px;
}

.comment__social {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 12px;
	color: #23aae2;
	float: left;
	margin-right: 145px;
	margin-top: 3px;
	text-decoration: underline;
}
.comment__img {
	width: 132px;
	height: 132px;
	float: left;
	margin-left: -66px;
	margin-top: 35px;
}

.comment__shadow {
	box-shadow: 1px 1.7px 4px rgba(149, 147, 147, 0.33);
	padding: 35px 42px 40px 42px;
	padding-left: 120px;
}

.comment__item {
	outline: none;
	margin: 0 70px 0 70px;
	padding: 10px;
}

.comment__cities {
	text-transform: uppercase;
	color: #23aae2;
	font-size: 1.091rem;
	font-weight: 100;
	margin-top: 3px;
	float: right;
}

.comment__text {
	color: #363636;
	font-size: 1.273rem;
	font-style: italic;
	font-weight: 100;
	margin-top: 40px;
	letter-spacing: 0.09em;
}

.comments-slider {
	margin-top: 60px;
}

.contact__form_mini {
	width: 49%;
	float: left;
}


.reviews__arrows {
	font-family: 'Font Awesome';
    color: #23aae2;
    font-size: 4.091rem;
    position: absolute;
    top: 45%;
    margin-top: -13px;
    cursor: pointer;
}

.reviews__arrows:hover {
	color: #e9e9e9;
}

.fa-angle-left{
	left: -5%;
}

.fa-angle-right{
	right: 0;
}

.visible {
	display: block;
}
.slick-dots li.slick-active button {
    background-color: #23aae2;
    border: none;
    width: 19px;
    height: 19px;
    position: absolute;
    height: 19px;
    top: -1px;
    left: -1px;
    border-radius: 50%;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    padding-top: 9px;
    border: 1px solid #23aae2;
    border-style: dashed;
    border-radius: 50%;
  }
  .slick-active{
  	width: 20px;
    height: 20px;
  }
  .slick-dots li.slick-active button:before, .slick-dots li button:before{
  	color:transparent;
  }
  .slick-dots li button {
   		width: 19px;
    	height: 19px;
	}
	.slick-dots {
    	bottom: -55px;
	}
	.slick-arrow{
		font-size: 40px;
	}


/* ---- Fifth Screen (Comments) End---- */



/* ---- Six Screen (Contacts) ---- */



#contacts{
	padding: 76px 0 0 0;
	color: #fff;
	text-align: center;
	background: url(../img/background-3.png) repeat;
}
.question{
	background:  #11b2f5;
	text-align: center;
	line-height: 2em;
}
.question__title{
	font-size: 42px;
	line-height: 49px;
    margin-bottom: 22px;
    letter-spacing: 0.001em;
    color: #fff;
}
.question__text{
	font-size: 21px;
    letter-spacing: 0.08em;
    margin-bottom: 18px;
    text-align: center;
    color: #fff;
    line-height: 29px;
    text-transform: uppercase;
    position: relative;
}
.form{
	margin-top:70px;
	margin-bottom: 65px;
}
.form__item{
	padding-bottom: 9px;
}
.form__input {
    border: 0;
    border-radius: 3px;
    border: 1px solid #fff;
    display: block;
    border-radius: 3px;
    padding: 25px 35px 22px 35px;
    width: 100%;
    font-size: 13px;
    /*text-transform: uppercase; */
    background: #30c2ff;
}

.form__input:focus {
	box-shadow: 0 8px 8px rgba(0,0,0,0.23);
	cursor: pointer;
}
::-webkit-input-placeholder {color:#b7e5ff;}
::-moz-placeholder          {color:#b7e5ff;}/* Firefox 19+ */
:-moz-placeholder           {color:#b7e5ff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#b7e5ff;}
:focus::-webkit-input-placeholder {color: #fff}
:focus::-moz-placeholder          {color: #fff}
:focus:-moz-placeholder           {color: #fff}
:focus:-ms-input-placeholder      {color: #fff}
.form__btn{
	text-transform: uppercase;
    border: 1px solid #fff;
    margin-top: 11px;
    border-radius: 3px;
    font-size: 15px;
    padding: 23px 36px;
    font-weight: 900px;
    width: 100%;
    background: transparent;
}
.form__btn:hover{
	background: #fff;
	color: #11b2f5;
}
.question__point{
	background:  #11b2f5;
	position: absolute;
    top: 100%;
}



/* ---- Six Screen (Contacts) End---- */


/* ----- Main Page Style End ---- */


/* ----- Footer ---- */



#main-footer{
	background: #23aae2;
	color:#fff;
	--webkit-box-shadow: 0px -21px 107px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px -21px 107px 0px rgba(0,0,0,0.1);
	box-shadow: 0px -21px 107px 0px rgba(0,0,0,0.3);

}
.footer-logo{
	padding-top:13px;
}
.footer__text,.footer__link{
	padding-top: 35px;
    font-size: 13px;
}
.footer__link{
	display: block;
	color: #fff;
	max-width: 195px;
	border-bottom: 1px solid #fff;
	border-style: none none dashed;
}
.numbers-footer{
	 padding-top: 7px;
}
.footer-icon{
	padding-top: 16px;
    padding-right: 1px;

}



/* ----- Footer End---- */


/* ---- InnerPage Style (Contacts) ---- */



.main-header-inner{
	margin-bottom: 0;
}
.offer-inner{
	font-size: 51px;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.2em;
}
.position-inner{
	position: relative;
	height: 75vh;
}
.check-inner{
	bottom: 35%;
}

#inner-contacts{
	background: #f7f7f7;
}
.section-inner{
	margin-top:-90px;
	background: #fff;
	margin-bottom: 83px;
}
.information{
	padding-top: 70px;
}
.wrapper{
	width:32px;
}
.contacts-intro{
	text-align: center;
	margin-bottom: 55px;
	margin-top: 50px;
}
.contacts-item{
	float: left;    
	margin-bottom: 40px;
	width:100%;
}
.wrapper-img{
	display: block;
	float: left;
	padding-top: 7px;
}
.contacts-item__info{
	float: left;
	padding-left: 40px;
}
.contacts-item__title{
	font-size:18px;
	line-height: 28px;
}
.contacts-item__text{
	font-size:16px;
	line-height: 24px;
}
.contact-form{
	background: #11b2f5;
	padding: 40px;
	margin-bottom: 63px;
	border-radius: 5px;
}
.inner-contacts__title{
	font-size:25px;
	line-height: 30px;
	text-align: center;
}
.question-title__inner{
	font-size:20px;
}
.inner-contacts__text{
	font-size:16px;
	line-height: 26px;
	text-align: center;
}
.question, .form__item{
	color: #fff;
}
.form-inner{
	margin:0;
}
.form__input-inner{
    padding: 15px 30px 15px 30px;
    font-size: 11px;
}
.form__btn-inner{
	padding: 13px 14px;
	font-size: 13px;
}
.question__point-inner{
	display: none;
}


/* ---- InnerPage Style (Contacts) End ---- */


/* ---- InnerPage Style (Move) ---- */



.move-intro{
	margin-top: 40px;
	text-align: center;
}
.move-intro__bold{
	font-weight: 900;
	text-align: center;
	margin-bottom: 60px;
}
.image-item{
	float: left; 
}
.image-first{
	margin-bottom: 90px;
}
.image-last{
	float: right;
	margin-top: 75px;
	margin-right: 40px;
	padding-bottom: 70px;
}
.text-item{
	float: left;
	font-size: 16px;
	line-height: 23px;
}
.question-inner .question__title {
    font-size: 37px;
    margin-bottom: 7px;
}
.question-inner .question__point {
	top: 105px;
}


/* ---- InnerPage Style (Move) End ---- */


/* ---- InnerPage Style (About) ---- */


.bold{
	font-weight: 900;
}
.promo-gap, .gap-last{
	margin: 50px auto;
	text-align: center;
	text-transform: uppercase;
}
.promo-gap{
	margin-top: 55px;
}
.promo-gap__title{
	font-size: 39px;
	line-height: 28px;
	color: #23aae2;
}
.promo-gap__text{
	font-size: 15px;
	line-height: 28px;
}
.promotion-text{
	font-size: 19px;
	line-height: 26px;
	color: #bdbdbd;
	margin-top:68px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.23em;
}
.gap-last__title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}
.gap-last__text{
	font-size: 30px;
	color: #23aae2;
	line-height: 30px;
	text-transform: uppercase;
}
.about-suggestion{
	background: #23aae2;
	color: #fff;
	padding: 20px 0;
	margin-bottom: 60px;
}
.about-suggestion__text{
	font-size: 23px;
	line-height: 32px;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
}
.directors__text{
	font-size: 29px;
	line-height: 30px;
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.person{
	padding: 40px 50px;
	background: #f4f4f4;
	margin-bottom: 72px;
	min-height: 557px;
}
.picture{
	width: 100%;
	float: left;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.picture-person{
	margin: 0 auto;
}
.person-info__title{
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 50px;
	text-align: center;
}



/* ---- InnerPage Style (About) End---- */

/* ---- InnerPage Style (404) ---- */
.offer-404{
	margin-top: 40px;
	text-align: center;
}
.offer-404__bold{
	font-weight: 900;
	text-align: center;
	margin-bottom: 60px;
}

.offer-404_desc{
	font-size: 35px;
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 0.2em;
}
/* ---- InnerPage Style (404) End ---- */

/* ---- Style for JS form ---- */



#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.91);
    overflow: hidden;
    display: none;
}

#loader img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	left: 0;
	top: 0;
	cursor: pointer;
}
#thx {
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -170px;
	top: 50%;
	padding: 30px;
	margin-top: -20px;
}

/* ---- Style for JS form End---- */
